Verinin anlatılması, açıklanması.

Kullandığım veri seti Online Payments Fraud Detection Dataseti. Veri seti yapılan para işlemlerinden hangisinin dolandırıcılık işlemi olup olmadığını gösteren bir veri seti.  

Veri setindeki özellikler:

    1- step: işlem süresini saat cinsinden ifade eder.
    2- type: online işlemin tipi.
    3- amount: işlemin miktarı.
    4- nameOrig: işlemi başlatan müşterinin adı.
    5- oldbalanceOrg: işlem öncesi hesap bakiyesi.
    6- newbalanceOrig: işlem sonrası hesap bakiyesi.
    7- nameDest: işlemi alan hesabın adı.
    8- oldbalanceDest: işlemin ulaştığı hesabın işlem öncesi bakiyesi.
    9- newbalanceDest: işlemin ulaştığı hesabın işlem sonrası bakiyesi.
    10- isFraud: dolandırıcılık işlemi olup olmadığı.

Bu veri setindeki asıl amaç 1 den 9 a kadar verilen özellikler ile yapılan işlemin dolandırıcılık işlemi olup olmadığının tahminlenmesi.

In [2]:
#EDA - Keşifsel Veri Analizi
import pandas as pd

#datanın pandas kütüphanesi yardımıyla okunması
data = pd.read_csv("/home/tugberk/Downloads/archive/PS_20174392719_1491204439457_log.csv")

In [4]:
#Verinin ilk 5 satırının incelenmesi
data.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [5]:
#Verinin son 5 satırının incelenmesi
data.tail()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
6362615,743,CASH_OUT,339682.13,C786484425,339682.13,0.0,C776919290,0.00,339682.13,1,0
6362616,743,TRANSFER,6311409.28,C1529008245,6311409.28,0.0,C1881841831,0.00,0.00,1,0
6362617,743,CASH_OUT,6311409.28,C1162922333,6311409.28,0.0,C1365125890,68488.84,6379898.11,1,0
6362618,743,TRANSFER,850002.52,C1685995037,850002.52,0.0,C2080388513,0.00,0.00,1,0
6362619,743,CASH_OUT,850002.52,C1280323807,850002.52,0.0,C873221189,6510099.11,7360101.63,1,0

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6362620 entries, 0 to 6362619
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   step            int64
 1   type            object
 2   amount          float64
 3   nameOrig        object
 4   oldbalanceOrg   float64
 5   newbalanceOrig  float64
 6   nameDest        object
 7   oldbalanceDest  float64
 8   newbalanceDest  float64
 9   isFraud         int64
 10  isFlaggedFraud  int64
dtypes: float64(5), int64(3), object(3)
memory usage: 534.0+ MB

In [7]:
#Veri setimizdeki değerlerin kaç tane farklı değere sahip olduğunu görmek...
data.nunique()

step                  743
type                    5
amount            5316900
nameOrig          6353307
oldbalanceOrg     1845844
newbalanceOrig    2682586
nameDest          2722362
oldbalanceDest    3614697
newbalanceDest    3555499
isFraud                 2
isFlaggedFraud          2
dtype: int64

In [8]:
#Verimizde null değer var mı görmek için...
data.isnull().sum()

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

In [9]:
#Veri setimizden step, nameOrig ve nameDest sutünlarını 
#siliyoruz çünkü tahminleme algortimasında herhangi bir işimize yaramayacaklar
data = data.drop(['step', 'nameOrig', 'nameDest'], axis = 1)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6362620 entries, 0 to 6362619
Data columns (total 8 columns):
 #   Column          Dtype
---  ------          -----
 0   type            object
 1   amount          float64
 2   oldbalanceOrg   float64
 3   newbalanceOrig  float64
 4   oldbalanceDest  float64
 5   newbalanceDest  float64
 6   isFraud         int64
 7   isFlaggedFraud  int64
dtypes: float64(5), int64(2), object(1)
memory usage: 388.3+ MB

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
#Data Preprocessing- Veri Ön İşleme

Data üzerinde neler yapıldı, neden yapıldı açıklanması.

In [ ]:
#Algoritma seçimi ve Hiperparametre Optimizasyonu

Hangi algoritma neden seçildi, seçilen 2 algoritmadan hangisi nasıl sonuç çıkardı neden iyi/kötü sonuç çıkardı.

In [ ]:
#Model Evaluation

Model üzerinde değerlendirme algoritmaları kullanarak sonuçların karşılaştırılması.